{% extends '../base.html' %}
{% load static %}
{% block title %} Wishlist{% endblock %}
{% block content %}
<!-- Wishlist Area Start -->
<section class="wishlist-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Dashboard-Nav  Start-->
                <div class="dashboard-nav">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="user-dashboard.html">Account
                                settings</a></li>
                        <li class="list-inline-item"><a href="deliver-info.html">Billing information</a></li>
                        <li class="list-inline-item"><a href="wishlist.html" class="active">My wishlist</a></li>
                        <li class="list-inline-item"><a href="cart.html">My cart</a></li>
                        <li class="list-inline-item"><a href="order.html">Order</a></li>
                        <li class="list-inline-item"><a href="account.html" class="mr-0">Log-out</a></li>
                    </ul>
                </div>
                <!-- Dashboard-Nav  End-->
            </div>
        </div>
        <div class="rows">
            <!-- Wishlist Item Start -->
            <div class="cart-items">
                <div class="header">
                    <div class="image">
                        Image
                    </div>
                    <div class="name">
                        Name
                    </div>
                    <div class="price">
                        Prices
                    </div>
                    <div class="rating">
                        Rating
                    </div>
                    <div class="info">
                        Info
                    </div>
                </div>
                <div class="body">
                    {% if wishlist|length == 0 %}
                    <div class="col-12">Your wishlist is empty <a href="">Shop</a></div>
                    {% else %}
                    {% for product in wishlist %}
                    <div class="item">
                        <div class="image">
                            <img src="{{ product.image.url }}">
                        </div>
                        <div class="name">
                            <div class="name-text">
                                <p> {{ product.title }}</p>
                            </div>
                            <div class="button">
                                <a class="btn bg-primary" href="{% url 'cart:cart_items'%}">Checkout now</a>
                                <a class="cart-btn" href="">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="18"
                                        viewBox="0 0 20 18">
                                        <g id="Heart" transform="translate(1 1)">
                                            <path id="Heart-2" data-name="Heart"
                                                d="M18.161,4.413a4.674,4.674,0,0,0-6.7,0l-.913.93-.913-.93a4.675,4.675,0,0,0-6.7,0,4.893,4.893,0,0,0,0,6.828l.913.93L10.548,19l6.7-6.828.913-.93a4.892,4.892,0,0,0,0-6.828Z"
                                                transform="translate(-1.549 -2.998)" fill="#fff" stroke="#1a2224"
                                                stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                        </g>
                                    </svg>
                                </a>
                                <a class="btn btn-secondary"  value="{{product.id}}">Delete</a>
                            </div>
                        </div>
                        <div class="price">
                            <span>rs {{ product.price }}</span> <del>$499.99</del>
                        </div>
                        <div class="rating">
                            <i class="fas fa-star"></i> 5.0
                        </div>
                        <div class="info">
                            <div class="size">
                                <div class="product-pricelist-selector-size">
                                    <h6>Sizes</h6>
                                    <div class="sizes" id="sizes">
                                        <li class="sizes-all active">M</li>
                                    </div>
                                </div>
                                <div class="product-pricelist-selector-color">
                                    <h6>Colors</h6>
                                    <div class="colors" id="colors">
                                        <li class="colorall color-1 active"></li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            <!-- Wishlist Item End -->
        </div>
    </div>
</section>
{% endblock %}