{% load notifications_tags %}
{% load static %}

{% comment %} {% load mptt_tags %} {% endcomment %}
<!-- Header Area Start -->
<header class="header">
    <div class="header-bottom">
        <div class="container-fluid">
            <div class="d-none d-lg-block">
                <nav class="menu-area d-flex align-items-center">
                    <div class="logo">
                        <a href="{% url 'customers:home' %}"><img src="{% static 'dist/images/logo/logo.png' %}"
                                alt="logo" style="max-width:10rem" /></a>
                    </div>
                    <ul class="main-menu d-flex align-items-center">
                        <li><a class="" href="{% url 'customers:home' %}">Home</a></li>
                        <li>
                            <a href="#categories" class="d-flex flex-row">
                                <div class="right d-inline mx-2">Category</div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="9.98" height="5.69"
                                    viewBox="0 0 9.98 5.69" class="left d-inline mt-1">
                                    <g id="Arrow" transform="translate(0.99 0.99)">
                                        <path id="Arrow-2" data-name="Arrow" d="M1474.286,26.4l4,4,4-4"
                                            transform="translate(-1474.286 -26.4)" fill="none" stroke="#1a2224"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-width="1.4" />
                                    </g>
                                </svg>
                            </a>


                        </li>
                    </ul>
                    <form method='get' action="{% url 'shop:shop_home' %}">
                        <div class="search-bar autocomplete" id="autocomplete">
                            {% if not no_search %}
                            <input type="text" name='title' id='d_title' placeholder="Search for product..."
                                class="autocomplete-input" />
                            <ul class="autocomplete-result-list"></ul>
                            {% endif %}
                        </div>
                    </form>
                    <div class="d-flex mx-auto">
                        <ul> {% if user.is_authenticated %}
                            <li>
                                <div class="dropdown">
                                    <a class="dropdown-toggle notifications" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="fa fa-bell" style="font-size:24px"></i>
                                        <span class="badge">{% live_notify_badge %}</span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-notifications">
                                        <li>
                                            {% for notification in  user.notifications.unread %}
                                            <div class="mx-2">
                                                <b>{{ notification.verb }}</b> </br>
                                                <small>{{notification.timestamp|timesince}} ago</small>
                                            </div>
                                            <div class="dropdown-divider"></div>
                                            {% endfor %}
                                        </li>
                                    </ul>
                                </div>
                                {% comment %} {% live_notify_list list_class="dropdown-menu" %} {% endcomment %}
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="menu-icon ml-auto">
                        <ul>
                            <li>
                                <a href="{% url 'customers:wishlist' %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20">
                                        <g id="Heart" transform="translate(1 1)">
                                            <path id="Heart-2" data-name="Heart"
                                                d="M20.007,4.59a5.148,5.148,0,0,0-7.444,0L11.548,5.636,10.534,4.59a5.149,5.149,0,0,0-7.444,0,5.555,5.555,0,0,0,0,7.681L4.1,13.317,11.548,21l7.444-7.681,1.014-1.047a5.553,5.553,0,0,0,0-7.681Z"
                                                transform="translate(-1.549 -2.998)" fill="#fff" stroke="#1a2224"
                                                stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                        </g>
                                    </svg>
                                    <span class="heart">{{ wishlist_num}}</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'cart:cart_items'%}"><svg xmlns="http://www.w3.org/2000/svg" width="22"
                                        height="22" viewBox="0 0 22 22">
                                        <g id="Icon" transform="translate(-1524 -89)">
                                            <ellipse id="Ellipse_2" data-name="Ellipse 2" cx="0.909" cy="0.952"
                                                rx="0.909" ry="0.952" transform="translate(1531.364 108.095)"
                                                fill="none" stroke="#1a2224" stroke-linecap="round"
                                                stroke-linejoin="round" stroke-width="2" />
                                            <ellipse id="Ellipse_3" data-name="Ellipse 3" cx="0.909" cy="0.952"
                                                rx="0.909" ry="0.952" transform="translate(1541.364 108.095)"
                                                fill="none" stroke="#1a2224" stroke-linecap="round"
                                                stroke-linejoin="round" stroke-width="2" />
                                            <path id="Path_3" data-name="Path 3"
                                                d="M1,1H4.636L7.073,13.752a1.84,1.84,0,0,0,1.818,1.533h8.836a1.84,1.84,0,0,0,1.818-1.533L21,5.762H5.545"
                                                transform="translate(1524 89)" fill="none" stroke="#1a2224"
                                                stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                        </g>
                                    </svg>
                                    {% with total_qty=cart|length %}
                                    {% if total_qty > 0 %}
                                    <span class="cart" id="cart-id">{{ total_qty }}</span>
                                    {% else %}
                                    <span class="cart" id="cart-id">0</span>
                                    {% endif %}
                    </div>
                    {% endwith %}

                    </a>
                    </li>
                    <li class="mx-3">
                        {% if request.user.is_authenticated and reqeust.user.role == CUSTOMER %}
                        <div class="dropdown-center">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ request.user.full_name }} <svg xmlns="http://www.w3.org/2000/svg" width="18"
                                    height="20" viewBox="0 0 18 20">
                                    <g id="Account" transform="translate(1 1)">
                                        <path id="Path_86" data-name="Path 86"
                                            d="M20,21V19a4,4,0,0,0-4-4H8a4,4,0,0,0-4,4v2" transform="translate(-4 -3)"
                                            fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" />
                                        <circle id="Ellipse_9" data-name="Ellipse 9" cx="4" cy="4" r="4"
                                            transform="translate(4)" fill="#fff" stroke="#000" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" />
                                    </g>
                                </svg></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'customers:settings-user' %}">Settings</a>
                                </li>
                                <li><a class="dropdown-item" href="#">Dashboard</a></li>
                                <li><a class="dropdown-item" data-bs-toggle="modal"
                                        data-bs-target="#logoutModal">Logout</a></li>
                            </ul>
                        </div>
                        {% else %}
                        <a href="{% url 'customers:loginUser' %}"><svg xmlns="http://www.w3.org/2000/svg" width="18"
                                height="20" viewBox="0 0 18 20">
                                <g id="Account" transform="translate(1 1)">
                                    <path id="Path_86" data-name="Path 86" d="M20,21V19a4,4,0,0,0-4-4H8a4,4,0,0,0-4,4v2"
                                        transform="translate(-4 -3)" fill="none" stroke="#000" stroke-linecap="round"
                                        stroke-linejoin="round" stroke-width="2" />
                                    <circle id="Ellipse_9" data-name="Ellipse 9" cx="4" cy="4" r="4"
                                        transform="translate(4)" fill="#fff" stroke="#000" stroke-linecap="round"
                                        stroke-linejoin="round" stroke-width="2" />
                                </g>
                            </svg></a>
                        {% endif %}
                    </li>
                    </ul>
            </div>
            </nav>
        </div>
        <!-- Mobile Menu -->
        <aside class="d-lg-none">
            <div id="mySidenav" class="sidenav">
                <div class="close-mobile-menu">
                    <a href="javascript:void(0)" id="menu-close" class="closebtn" onclick="closeNav()">&times;</a>
                </div>
                <div class="search-bar autocomplete" id="autocomplete">
                    <input type="text" name='title' placeholder="Search for product...">
                    <ul class="autocomplete-result-list"></ul>
                </div>
            </div>
            <div class="mobile-nav d-flex align-items-center justify-content-between">
                <div class="logo">
                    <a href="{% url 'customers:home' %}"><img src="{% static 'dist/images/logo/logo.png' %}" alt="logo"
                            style="width: 100px;" /></a>
                </div>
                <form method='get' action="{% url 'shop:shop_home' %}">
                    <div class="search-bar autocomplete" id="autocomplete">
                        {% if not no_search %}
                        <input type="text" name='title' id='d_title' placeholder="Search for product..."
                            class="autocomplete-input" />
                        <ul class="autocomplete-result-list"></ul>
                        {% endif %}
                    </div>
                </form>

                <div class="menu-icon">
                    <ul class="d-flex">
                        <li> <a href="wishlist.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20">
                                    <g id="Heart" transform="translate(1 1)">
                                        <path id="Heart-2" data-name="Heart"
                                            d="M20.007,4.59a5.148,5.148,0,0,0-7.444,0L11.548,5.636,10.534,4.59a5.149,5.149,0,0,0-7.444,0,5.555,5.555,0,0,0,0,7.681L4.1,13.317,11.548,21l7.444-7.681,1.014-1.047a5.553,5.553,0,0,0,0-7.681Z"
                                            transform="translate(-1.549 -2.998)" fill="#fff" stroke="#1a2224"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                    </g>
                                </svg>
                                <span class="heart">{{ wishlist_num}}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'cart:cart_items'%}" class="mx-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20">
                                    <g id="Icon" transform="translate(-1524 -89)">
                                        <ellipse id="Ellipse_2" data-name="Ellipse 2" cx="0.909" cy="0.952" rx="0.909"
                                            ry="0.952" transform="translate(1531.364 108.095)" fill="none"
                                            stroke="#1a2224" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" />
                                        <ellipse id="Ellipse_3" data-name="Ellipse 3" cx="0.909" cy="0.952" rx="0.909"
                                            ry="0.952" transform="translate(1541.364 108.095)" fill="none"
                                            stroke="#1a2224" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" />
                                        <path id="Path_3" data-name="Path 3"
                                            d="M1,1H4.636L7.073,13.752a1.84,1.84,0,0,0,1.818,1.533h8.836a1.84,1.84,0,0,0,1.818-1.533L21,5.762H5.545"
                                            transform="translate(1524 89)" fill="none" stroke="#1a2224"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                    </g>
                                </svg>
                                {% with total_qty=cart|length %}
                                {% if total_qty >= 10 %}
                                <span class="cart"> full </span>
                                {% elif total_qty < 10  and total_qty > 0%}
                                <span class="cart">{{ total_qty }}</span>
                                {% else %}
                                <span class="cart">0</span>
                                {% endif %}
                </div>
                {% endwith %}
                </a>
                </li>
                <li>
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20">
                            <g id="Account" transform="translate(1 1)">
                                <path id="Path_86" data-name="Path 86" d="M20,21V19a4,4,0,0,0-4-4H8a4,4,0,0,0-4,4v2"
                                    transform="translate(-4 -3)" fill="none" stroke="#000" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-width="2" />
                                <circle id="Ellipse_9" data-name="Ellipse 9" cx="4" cy="4" r="4"
                                    transform="translate(4)" fill="#fff" stroke="#000" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-width="2" />
                            </g>
                        </svg>
                    </a>
                </li>
                <div class="hamburger-menu">
                    <a style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</a>
                </div>
                </ul>
            </div>

    </div>
    </aside>
    <!-- Body overlay -->
    <div class="overlay" id="overlayy"></div>
    </div>
    </div>
</header>
<!-- Header Area End -->

<!-- Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="logoutModalLabel">Are you Sure?</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-footer">
                <a class="btn btn-danger" href="{% url 'customers:logout' %}">Logout</a>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>

<script>
    new Autocomplete("#autocomplete", {

        search: input => {
            console.log(input)
            const url = `/search/?title=${input}`
            return new Promise(resolve => {
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        console.log(data)
                        resolve(data.data)
                    })
            })
        }
    })
</script>



<style>
    .notifications span {
        color: Blue;
    }

    .dropdown-notifications {
        width: 25rem;
    }
</style>