{% extends '../base_vendor.html' %}
{% load static %}
{% block title %} Add product Images {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{{ form.media }}

<section class="populerproduct">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2>Add New Products</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <!-- Dashboard-Nav  Start-->
                <div class="dashboard-nav">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="">Add Product</a>
                            <i class="fas fa-angle-right"></i></li>
                        <li class="list-inline-item"><a href="" >Add Varations</a> <i
                                class="fas fa-angle-right"></i></li>
                        <li class="list-inline-item"><a href=""class="active mr-0">Add Images</a></li>
                    </ul>
                </div>
                <!-- Dashboard-Nav  End-->
            </div>
        </div>
        <div class='row'>
            {% comment %} <div id="alert-box"></div>
            <div id="image-box" class="mb-3"></div>{% endcomment %}
            <form  id="image-form" method='post' enctype="multipart/form-data">
                <div class="form-group container mt-5">
                  {% csrf_token %}
                    <input class="form-control box" accept="image/*" type="file" name="image"  required id="id_image"/>
                </div>
               
                <div class="box-2">
                    <div class="result"></div>
                </div>
                  <!--rightbox-->
                <div class="box-2 img-result hide">
                    <!-- result of crop -->
                    <img class="cropped" src="" alt="" />
                </div>
                  <!-- input file -->
                <div class="box">
                    <div class="options hide">
                      <label> Width</label>
                      <input type="number" class="img-w" value="300" min="100" max="1200" />
                    </div>
              
                    <!-- save btn -->
                    <button class="btn btn-primary save hide">Save</button>
                    <!-- download btn -->
                    <button type="submit" class="btn btn-secondary download hide">Submit</button>
                </div>
            </form>
        </div>  
    </div>
</section>

<style>
    .box {
        padding : 0.5rem;
        width ; 100%;
        margin: 0.5rem;
    }

    .box-2 {
        padding : 0.5rem;
        width ; cal(100%/2 - 1em);
       
    }
    .options label, .options input {
        width:4em;
        padding: 0.5em 1em;
    }
    
    .hide {
        display : none;
    }
    .img {
        max-width: 100%
    }
</style>




<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js"></script>
<script>
    // vars
    let result = document.querySelector(".result"),
      img_result = document.querySelector(".img-result"),
      img_w = document.querySelector(".img-w"),
      img_h = document.querySelector(".img-h"),
      options = document.querySelector(".options"),
      save = document.querySelector(".save"),
      cropped = document.querySelector(".cropped"),
      dwn = document.querySelector(".download"),
      upload = document.querySelector("#id_image"),
      cropper = "";
   
    // on change show image with crop options
    upload.addEventListener("change", (e) => {
      if (e.target.files.length) {
        // start file reader
        const reader = new FileReader();
        reader.onload = (e) => {
          if (e.target.result) {
            // create new image
            let img = document.createElement("img");
            img.id = "image";
            img.src = e.target.result;
            // clean result before
            result.innerHTML = "";
            // append new image
            result.appendChild(img);
            // show save btn and options
            save.classList.remove("hide");
            options.classList.remove("hide");
            // init cropper
            cropper = new Cropper(img,{
                dragMode: 'move',
                aspectRatio: 16 / 9,
                autoCropArea: 0.9,
                restore: false,
                guides: false,
                center: false,
                highlight: false,
                cropBoxMovable: true,
                cropBoxResizable: false,
                toggleDragModeOnDblclick: false,
            });
          }
        };
        reader.readAsDataURL(e.target.files[0]);
      }
    });
   
    // save on click
    save.addEventListener("click", (e) => {
      e.preventDefault();
      // get result to data uri
      let imgSrc = cropper
        .getCroppedCanvas({
          width: img_w.value, // input value
        })
        .toDataURL("image/png");
      // remove hide class of img
      cropped.classList.remove("hide");
      img_result.classList.remove("hide");
      // show image cropped
      cropped.src = imgSrc;
      dwn.classList.remove("hide");
      dwn.download = "imagename.png";
      function dataURLtoFile(dataurl, filename) {
 
        var arr = dataurl.split(','),
            mime = arr[0].match(/:(.*?);/)[1],
            bstr = atob(arr[1]), 
            n = bstr.length, 
            u8arr = new Uint8Array(n);
            
        while(n--){
            u8arr[n] = bstr.charCodeAt(n);
        }
        
        return new File([u8arr], filename, {type:mime});
      }
      let file = dataURLtoFile(imgSrc,'image.jpg');
      console.log(file)
      upload.setAttribute("value", file);
      console.log(upload)
    });

    
  </script>

{% endblock %}

