{% extends '../base_vendor.html' %}
{% load static %}
{% block title %} {{ product.title }} {% endblock %}
{% block content %}

<!-- Product Details Area Start -->
<section class="product">
    <div class="container-fluid px-5">
        <div class="row">
            <div class="col-lg-5 col-12">
                <div class="col-12">
                    <div id="img-container">
                        <div id="lens"></div>
                        <img id="featured" src="{{ product.image.url }}" class='img-fluid'>
                    </div>
                    {% if product.images.all.count != 0 %}
                    <div id="slide-wrapper">
                        <img id="slideLeft" class="arrow" src="{{ product.image.url }}">

                        <div id="slider">
                            {% for pro in product.images.all %}
                            <img class="thumbnail " src="{{ pro.image.url }}">
                            {% endfor %}
                        </div>

                        <img id="slideRight" class="arrow" src="{{ product.image.url }}">
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-7 col-12">
                <div class="product-pricelist">
                    <h2>{{ product.title }}</h2>
                    <div class="product-pricelist-ratting">
                        <div class="price">
                            <span>Rs {{ product.attributes.first.price}} </span>
                            <del>{{ product.mrp_price}}</del>

                        </div>
                        <div class="star">
                            <ul>
                                {% for star in product.get_avg_rating|ljust:product.get_avg_rating %}
                                <li><i class="fas fa-star"></i></li>
                                {% endfor %}

                                <li>{{product.get_avg_rating}}</li>
                            </ul>
                            <ul>
                                <li class="point">({{product.count_review}} Rating)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-description my-3"> 
                        <p class="pr-5" style="text-align: justify">{{product.description|safe }}</p>
                    </div>
                   
                    <div class="row my-2">
                        <div class="col-12">
                            <form>
                                <div class="form-group row">
                                    {% if product.images.all.count != 0 %}
                                    {% for val in product.attributes.all %}
                                    <div id="{{val.id}}-card" class="card mb-4 col-12 col-md-4 mx-1"
                                        style="border-color: {{ val.color.color_code }}">
                                        <div class="card-body" role="button">
                                            <h5 class="card-title">
                                                <label for="price">Rs {{ val.price }}</label></h5>
                                            <pclass="card-text"> your price <span class="badge badge-primary">Rs {{val.vendor_price}}</span></pclass=>
                                            <p class="card-text"> product color: {{ val.color.title }}</p>
                                        </div>
                                    </div>

                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="product-pricelist-selector-button row">
                        <div class="mt-4 d-flex justify-content-around">
                            {% if not product.is_active %}
                            <form action="{% url 'shop:publish_product' product.slug %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-primary" type="submit" value=""> Publish</button>
                            </form>
                            {% else %}
                            <form action="{% url 'shop:publish_product' product.slug %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-warning" type="submit" value=""> Unpublish</button>
                            </form>
                            {% endif %}
                            <a class="btn btn-secondary" href="{% url 'shop:update_product' product.slug %}">Edit
    
                            </a>
                            <!-- Button trigger modal -->
                            <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete
                            </a>
    
                        </div>
                    </div>
                        <div class="product-pricelist-selector-button-item">
                            <div class="shipping">
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="21.4" height="17.937"
                                        viewBox="0 0 21.4 17.937">
                                        <g id="Truck_Icon" data-name="Truck Icon" transform="translate(-0.8 -3.8)">
                                            <path id="Path_14" data-name="Path 14" d="M1.5,4.5H15.112V16.3H1.5Z"
                                                fill="none" stroke="#335aff" stroke-linecap="round"
                                                stroke-linejoin="round" stroke-width="1.4" />
                                            <path id="Path_15" data-name="Path 15" d="M24,12h3.63l2.722,2.722V19.26H24Z"
                                                transform="translate(-8.852 -3)" fill="none" stroke="#335aff"
                                                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.4" />
                                            <path id="Path_16" data-name="Path 16"
                                                d="M9.037,26.269A2.269,2.269,0,1,1,6.769,24a2.269,2.269,0,0,1,2.269,2.269Z"
                                                transform="translate(-1.185 -7.5)" fill="none" stroke="#335aff"
                                                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.4" />
                                            <path id="Path_17" data-name="Path 17"
                                                d="M28.537,26.269A2.269,2.269,0,1,1,26.269,24,2.269,2.269,0,0,1,28.537,26.269Z"
                                                transform="translate(-8.852 -7.5)" fill="none" stroke="#335aff"
                                                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.4" />
                                        </g>
                                    </svg>

                                </div>
                                {% if product.delivery_charges != 0.00 %}
                                <p>Shipping: <strong>Rs{{product.delivery_charges}}</strong></p>
                                {% else %}
                                <p>Free Shipping </p>
                                {% endif %}
                            </div>
                            <div class="shipping">
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17.5" height="17.5"
                                        viewBox="0 0 17.5 17.5">
                                        <g id="Icon" transform="translate(-2.25 -2.25)">
                                            <path id="Path_20" data-name="Path 20"
                                                d="M19,11a8,8,0,1,1-8-8A8,8,0,0,1,19,11Z" fill="none" stroke="#335aff"
                                                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                                            <path id="Path_21" data-name="Path 21" d="M18,9v4.8l3.2,1.6"
                                                transform="translate(-7 -2.8)" fill="none" stroke="#335aff"
                                                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                                        </g>
                                    </svg>
                                </div>
                                <p>3 Days Delivery Time</p>
                            </div>
                            <div class="cash mb-4">
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="16" viewBox="0 0 10 16">
                                        <path id="Icon"
                                            d="M14.863,11.522c-2.23-.524-2.947-1.067-2.947-1.911,0-.969.992-1.644,2.652-1.644,1.749,0,2.4.756,2.456,1.867H19.2a3.655,3.655,0,0,0-3.153-3.387V4.5H13.095V6.42c-1.906.373-3.438,1.493-3.438,3.209,0,2.053,1.876,3.076,4.617,3.671,2.456.533,2.947,1.316,2.947,2.142,0,.613-.481,1.591-2.652,1.591-2.024,0-2.819-.818-2.927-1.867H9.48c.118,1.947,1.729,3.04,3.615,3.4V20.5h2.947V18.589c1.916-.329,3.438-1.333,3.438-3.156C19.48,12.909,17.093,12.047,14.863,11.522Z"
                                            transform="translate(-9.48 -4.5)" fill="#335aff" />
                                    </svg>
                                </div>
                                <p>Cash on Delivery</p>
                            </div>
                        </div>

                
                </div>
            </div>
        </div>
        <div class="container">
            {% for review in product.reviews.all %}
            <div class="card p-3 mt-4">
                <div class="row justify-content-between my-1">
                    <div class="user col-md-4">
                        <img src="{{ review.user.profile_pic.url }}" width="30" class="user-img rounded-circle mr-2">
                        <span><small class="font-weight-bold text-primary">{{ review.user }}</small> </span>
                    </div>
                    <small class="col-md-4 text-end">{{ review.created_at| timesince }} ago</small>
                </div>
                <div class="action row justify-content-between my-1">
                    <div class="reply col-md-4">
                        <small class="font-weight-bold">{{ review.review_text }}</small>
                    </div>
                    <div class="icons col-md-4 text-end">
                        {% for star in review.review_rating|ljust:review.review_rating %}
                        <i class="fa fa-star text-warning"></i>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Product Details Area End -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Are you sure?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                delete <strong>{{ product.title }} ?</strong>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-secondary mx-2" data-bs-dismiss="modal">Close</a>
                <a href="{% url 'shop:delete_product' product.slug %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<style>
    div.new_html_code {
        width: 150px;
        height: 200px;
        min-width: 150px;
        min-height: 150px;
        max-width: 200px;
        max-height: 150px;
        overflow: hidden;
        display: block;

    }

    .btn {
        padding: 10px;
        margin: 0px;
    }

    .column {

        padding: 10px;

    }

    #featured {


        cursor: pointer;


    }

    .thumbnail {
        object-fit: cover;
        max-width: 180px;
        max-height: 100px;
        cursor: pointer;
        opacity: 0.5;
        margin: 5px;
        border: 2px solid black;

    }

    .thumbnail:hover {
        opacity: 1;
    }

    .active {
        opacity: 1;
    }

    #slide-wrapper {
        margin-top: 30px;
        max-width: 500px;
        display: flex;
        min-height: 100px;
        align-items: center;
    }

    #slider {
        width: 440px;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;

    }

    #slider::-webkit-scrollbar {
        width: 8px;

    }

    #slider::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

    }

    #slider::-webkit-scrollbar-thumb {
        background-color: #dede2e;
        outline: 1px solid slategrey;
        border-radius: 100px;

    }

    #slider::-webkit-scrollbar-thumb:hover {
        background-color: #18b5ce;
    }

    .arrow {
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: .3s;
    }

    .arrow:hover {
        opacity: .5;
        width: 35px;
        height: 35px;
    }

    #img-container {
        z-index: 1;
        max-width: 500px;
        position: relative;
    }

    #lens {
        z-index: 2;
        position: absolute;

        height: 125px;
        width: 125px;

        background-repeat: no-repeat;
        cursor: none;

    }

    .active {
        border-color: #28a745 !important;
        background-color: #f2f2f2;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.18), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    .card {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15), 0 2px 5px rgba(0, 0, 0, 0.2);
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
</style>
<script src="{% static 'src/js/jquery.min.js' %}"></script>
<script src="{% static 'src/js/slider-script.js' %}"></script>
<script src="{% static 'src/js/slider.js' %}"></script>



{% endblock %}