{% extends '../base.html' %}
{% load static %}
{% block title %} {{ product.title }} {% endblock %}
{% block content %}
<!-- Product Details Area Start -->
<section class="product">
    <div class="container-fluid px-5">
        <div class="row">
            <div class="col-lg-5 col-12">
                <div class="col-12">
                    <div id="img-container">
                        <div id="lens"></div>
                        <img id="featured" src="{{ product.image.url }}" class='img-fluid'>
                    </div>
                    {% if product.images.all.count != 0 %}
                    <div id="slide-wrapper">
                        <img id="slideLeft" class="arrow" src="{{ product.image.url }}">

                        <div id="slider">
                            {% for pro in product.images.all %}
                            <img class="thumbnail " src="{{ pro.image.url }}">
                            {% endfor %}
                        </div>

                        <img id="slideRight" class="arrow" src="{{ product.image.url }}">
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-7 col-12">
                <div class="product-pricelist">
                    <h2>{{ product.title }}</h2>
                    <div class="product-pricelist-ratting">
                        <div class="price">
                            {% if product.attributes.first.offer_difference is not None %}<span
                                class="badge badge-primary h-50 text-light mx-1">
                                {{ product.attributes.first.offer_difference }}% off </span>{% endif%}
                            <span>Rs {{ product.attributes.first.product_price}} </span>
                            <del>{{ product.mrp_price}}</del>

                        </div>
                        <div class="star">
                            <ul>
                                {% for star in product.get_avg_rating|ljust:product.get_avg_rating %}
                                <li><i class="fas fa-star"></i></li>
                                {% endfor %}

                                <li>{{product.get_avg_rating}}</li>
                            </ul>
                            <ul>
                                <li class="point">({{product.count_review}} Rating)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-description my-3"> 
                        <p class="pr-5" style="text-align: justify">{{product.description|safe }}</p>
                    </div>
                   

                    <div class="product-pricelist-selector">
                        <div class="product-pricelist-selector-quantity">
                            <h6>quantity</h6>
                            <div class="wan-spinner wan-spinner-4">
                                <a class="minus" onclick="deductProduct()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="11.98" height="6.69"
                                        viewBox="0 0 11.98 6.69">
                                        <path id="Arrow" d="M1474.286,26.4l5,5,5-5"
                                            transform="translate(-1473.296 -25.41)" fill="none" stroke="#989ba7"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-width="1.4" />
                                    </svg>
                                </a>
                                <input type="hidden" id="product_id" name="prod_Id" value="{{ product.id }}">
                                <input type="text" id="quandity" value="1" min="1" \>
                                <a class="plus" onclick="addProduct()"><svg xmlns="http://www.w3.org/2000/svg"
                                        width="11.98" height="6.69" viewBox="0 0 11.98 6.69">
                                        <g id="Arrow" transform="translate(10.99 5.7) rotate(180)">
                                            <path id="Arrow-2" data-name="Arrow" d="M1474.286,26.4l5,5,5-5"
                                                transform="translate(-1474.286 -26.4)" fill="none" stroke="#1a2224"
                                                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.4" />
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-12">
                            <form>
                                <div class="form-group row">
                                    {% if product.images.all.count != 0 %}
                                    {% for val in product.attributes.all %}
                                    <div id="{{val.id}}-card" class="card mb-4 col-12 col-md-4 mx-1"
                                        style="border-color: {{ val.color.color_code }}">
                                        <div class="card-body" role="button">
                                            <h5 class="card-title"><input id="{{val.id}}" type="radio" >
                                                <label for="price">Rs {{ val.product_price }}</label></h5>
                                            <p class="card-text"> product color: {{ val.color.title }}</p>
                                        </div>
                                    </div>

                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="product-pricelist-selector-button row">
                        <a class="btn bg-primary cart-hart col-md-2 mr-4 my-1"
                            href="{% url 'customers:add_wishlist' product.id %}">
                            <svg id="Heart" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 22 20">
                                <defs>
                                    <clipPath id="clip-path">
                                        <rect width="22" height="20" fill="none" />
                                    </clipPath>
                                </defs>
                                <g id="Repeat_Grid_1" data-name="Repeat Grid 1" clip-path="url(#clip-path)">
                                    <g transform="translate(1 1)">
                                        <path id="Heart-2" data-name="Heart"
                                            d="M20.007,4.59a5.148,5.148,0,0,0-7.444,0L11.548,5.636,10.534,4.59a5.149,5.149,0,0,0-7.444,0,5.555,5.555,0,0,0,0,7.681L4.1,13.317,11.548,21l7.444-7.681,1.014-1.047a5.553,5.553,0,0,0,0-7.681Z"
                                            transform="translate(-1.549 -2.998)" fill="#fff" stroke="#335aff"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                    </g>
                                </g>
                            </svg>
                        </a>
                        <button class="btn cart-bg col-md-4 my-1" id="add-to-cart" value={{ product.id }}
                            style="display: none;">Add to cart
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-shopping-cart">
                                <circle cx="9" cy="21" r="1"></circle>
                                <circle cx="20" cy="21" r="1"></circle>
                                <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                            </svg>
                        </button>
                        <a class="btn cart-bg col-md-4 my-1" id="checkout" href={% url 'cart:cart_items' %}
                            style="display: none;">Buy Now
                        </a>
                        <div class="product-pricelist-selector-button-item">
                            <div class="shipping">
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="21.4" height="17.937"
                                        viewBox="0 0 21.4 17.937">
                                        <g id="Truck_Icon" data-name="Truck Icon" transform="translate(-0.8 -3.8)">
                                            <path id="Path_14" data-name="Path 14" d="M1.5,4.5H15.112V16.3H1.5Z"
                                                fill="none" stroke="#335aff" stroke-linecap="round"
                                                stroke-linejoin="round" stroke-width="1.4" />
                                            <path id="Path_15" data-name="Path 15" d="M24,12h3.63l2.722,2.722V19.26H24Z"
                                                transform="translate(-8.852 -3)" fill="none" stroke="#335aff"
                                                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.4" />
                                            <path id="Path_16" data-name="Path 16"
                                                d="M9.037,26.269A2.269,2.269,0,1,1,6.769,24a2.269,2.269,0,0,1,2.269,2.269Z"
                                                transform="translate(-1.185 -7.5)" fill="none" stroke="#335aff"
                                                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.4" />
                                            <path id="Path_17" data-name="Path 17"
                                                d="M28.537,26.269A2.269,2.269,0,1,1,26.269,24,2.269,2.269,0,0,1,28.537,26.269Z"
                                                transform="translate(-8.852 -7.5)" fill="none" stroke="#335aff"
                                                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.4" />
                                        </g>
                                    </svg>

                                </div>
                                {% if product.delivery_charges != 0.00 %}
                                <p>Shipping: <strong>Rs{{product.delivery_charges}}</strong></p>
                                {% else %}
                                <p>Free Shipping </p>
                                {% endif %}
                            </div>
                            <div class="shipping">
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17.5" height="17.5"
                                        viewBox="0 0 17.5 17.5">
                                        <g id="Icon" transform="translate(-2.25 -2.25)">
                                            <path id="Path_20" data-name="Path 20"
                                                d="M19,11a8,8,0,1,1-8-8A8,8,0,0,1,19,11Z" fill="none" stroke="#335aff"
                                                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                                            <path id="Path_21" data-name="Path 21" d="M18,9v4.8l3.2,1.6"
                                                transform="translate(-7 -2.8)" fill="none" stroke="#335aff"
                                                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                                        </g>
                                    </svg>
                                </div>
                                <p>3 Days Delivery Time</p>
                            </div>
                            <div class="cash mb-4">
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="16" viewBox="0 0 10 16">
                                        <path id="Icon"
                                            d="M14.863,11.522c-2.23-.524-2.947-1.067-2.947-1.911,0-.969.992-1.644,2.652-1.644,1.749,0,2.4.756,2.456,1.867H19.2a3.655,3.655,0,0,0-3.153-3.387V4.5H13.095V6.42c-1.906.373-3.438,1.493-3.438,3.209,0,2.053,1.876,3.076,4.617,3.671,2.456.533,2.947,1.316,2.947,2.142,0,.613-.481,1.591-2.652,1.591-2.024,0-2.819-.818-2.927-1.867H9.48c.118,1.947,1.729,3.04,3.615,3.4V20.5h2.947V18.589c1.916-.329,3.438-1.333,3.438-3.156C19.48,12.909,17.093,12.047,14.863,11.522Z"
                                            transform="translate(-9.48 -4.5)" fill="#335aff" />
                                    </svg>
                                </div>
                                <p>Cash on Delivery</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            {% for review in product.reviews.all %}
            <div class="card p-3 mt-4">
                <div class="row justify-content-between my-1">
                    <div class="user col-md-4">
                        <img src="{{ review.user.profile_pic.url }}" width="30" class="user-img rounded-circle mr-2">
                        <span><small class="font-weight-bold text-primary">{{ review.user }}</small> </span>
                    </div>
                    <small class="col-md-4 text-end">{{ review.created_at| timesince }} ago</small>
                </div>
                <div class="action row justify-content-between my-1">
                    <div class="reply col-md-4">
                        <small class="font-weight-bold">{{ review.review_text }}</small>
                    </div>
                    <div class="icons col-md-4 text-end">
                        {% for star in review.review_rating|ljust:review.review_rating %}
                        <i class="fa fa-star text-warning"></i>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% if request.user.is_authenticated and reqeust.user.role == CUSTOMER %}
            <div class="card">
                <div class="card-body">
                    <form class="form-row" method="post" action="{% url 'shop:add-review' product.slug %}">
                        {% csrf_token %}
                        <div class="form-group col-md-2">
                            <select id="inputState" name="review_rating" class="form-control">
                                <option value='1'>Bad</option>
                                <option value='2'>Not Bad</option>
                                <option value='3'>Good</option>
                                <option value='4' selected>Best</option>
                                <option value='5'>Awesome</option>
                            </select>
                        </div>

                        <div class="form-group col-md-8">

                            <input type="text" class="form-control" name="review_text" placeholder="Enter your review"
                                required>
                        </div>
                        <div class="form-group col-md-2">
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
<!-- Product Details Area End -->

<!-- Features Section Start -->
<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2>Featured Products</h2>
                </div>
            </div>
        </div>
        <div class="features-wrapper">
            <div class="features-active">
                {% for prod in fproducts %}
                <div class="product-item">
                    <div class="product-item-image text-left shadow">
                        <a href="{{ prod.get_absolute_url }}" class="text-center"><img src="{{prod.thumbnail.url}}"
                                alt="Product Name" class="img-fluid mx-auto"></a>
                        <div class="cart-icon">
                            {% if prod.attributes.first.offer_difference is not None %}<span
                                class="badge badge-primary h-50"> {{ prod.attributes.first.offer_difference }}% off
                            </span>{% endif %}
                            <a href="{% url 'customers:add_wishlist' prod.id %}"><i class="far fa-heart shadow"></i></a>
                        </div>
                    </div>
                    <div class="product-item-info">
                        <a href="{{ prod.get_absolute_url }}">{{ prod.title|truncatechars:20 }}</a>
                        <span>Rs {{ prod.attributes.first.product_price }}</span> <del>Rs {{ prod.mrp_price }}</del>
                    </div>

                </div>
                {% endfor %}
            </div>
            <div class="slider-arrows">
                <div class="prev-arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="9.414" height="16.828" viewBox="0 0 9.414 16.828">
                        <path id="Icon_feather-chevron-left" data-name="Icon feather-chevron-left" d="M20.5,23l-7-7,7-7"
                            transform="translate(-12.5 -7.586)" fill="none" stroke="#1a2224" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" />
                    </svg>
                </div>
                <div class="next-arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="9.414" height="16.828" viewBox="0 0 9.414 16.828">
                        <path id="Icon_feather-chevron-right" data-name="Icon feather-chevron-right"
                            d="M13.5,23l5.25-5.25.438-.437L20.5,16l-7-7" transform="translate(-12.086 -7.586)"
                            fill="none" stroke="#1a2224" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="features-morebutton text-center">
                    <a class="btn bt-glass" href="{% url 'shop:shop_home' %}">View All Products</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features Section End -->
<style>
    div.new_html_code {
        width: 150px;
        height: 200px;
        min-width: 150px;
        min-height: 150px;
        max-width: 200px;
        max-height: 150px;
        overflow: hidden;
        display: block;

    }

    .btn {
        padding: 10px;
        margin: 0px;
    }

    .column {

        padding: 10px;

    }

    #featured {


        cursor: pointer;


    }

    .thumbnail {
        object-fit: cover;
        max-width: 180px;
        max-height: 100px;
        cursor: pointer;
        opacity: 0.5;
        margin: 5px;
        border: 2px solid black;

    }

    .thumbnail:hover {
        opacity: 1;
    }

    .active {
        opacity: 1;
    }

    #slide-wrapper {
        margin-top: 30px;
        max-width: 500px;
        display: flex;
        min-height: 100px;
        align-items: center;
    }

    #slider {
        width: 440px;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;

    }

    #slider::-webkit-scrollbar {
        width: 8px;

    }

    #slider::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

    }

    #slider::-webkit-scrollbar-thumb {
        background-color: #dede2e;
        outline: 1px solid slategrey;
        border-radius: 100px;

    }

    #slider::-webkit-scrollbar-thumb:hover {
        background-color: #18b5ce;
    }

    .arrow {
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: .3s;
    }

    .arrow:hover {
        opacity: .5;
        width: 35px;
        height: 35px;
    }

    #img-container {
        z-index: 1;
        max-width: 500px;
        position: relative;
    }

    #lens {
        z-index: 2;
        position: absolute;

        height: 125px;
        width: 125px;

        background-repeat: no-repeat;
        cursor: none;

    }

    .active {
        border-color: #28a745 !important;
        background-color: #f2f2f2;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.18), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    .card {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15), 0 2px 5px rgba(0, 0, 0, 0.2);
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
</style>
<script src="{% static 'src/js/jquery.min.js' %}"></script>
<script src="{% static 'src/js/slider-script.js' %}"></script>
<script src="{% static 'src/js/slider.js' %}"></script>

<script>
    var variation_id;
    $(document).ready(function () {
        $('input:radio').change(function () { //Clicking input radio
            var radioClicked = $(this).attr('id');
            unclickRadio();
            removeActive();
            clickRadio(radioClicked);
            makeActive(radioClicked);
            $('#add-to-cart').css('display', 'inline');
            $('#checkout').css('display', 'inline');
        });
        $(".card").click(function () { //Clicking the card
            var inputElement = $(this).find('input[type=radio]').attr('id');
            variation_id = inputElement;
            console.log(variation_id)
            unclickRadio();
            removeActive();
            makeActive(inputElement);
            clickRadio(inputElement);
        });
    });


    function unclickRadio() {
        $("input:radio").prop("checked", false);
    }

    function clickRadio(inputElement) {
        $("#" + inputElement).prop("checked", true);
    }

    function removeActive() {
        $(".card").removeClass("active");
    }

    function makeActive(element) {
        $("#" + element + "-card").addClass("active");
    }

    function addProduct() {
        qdty = document.getElementById("quandity").value
        qdty = Number(qdty)
        if (qdty <= 5) {
            qdty += 1;
        }
        document.getElementById("quandity").value = qdty

    }

    function deductProduct() {
        qdty = document.getElementById("quandity").value
        qdty = Number(qdty)
        if (qdty >= 2) {
            qdty -= 1;
        }
        document.getElementById("quandity").value = qdty;
    }
    document.getElementById("add-to-cart").addEventListener("click", function (e) {
        e.preventDefault();
        product_id = Number(document.getElementById("add-to-cart").value);
        console.log(product_id)
        product_variation = Number(variation_id);

        quandity = Number(document.getElementById("quandity").value)

        const formData = new FormData();
        //console.log(name);
        formData.append('productid', product_id);
        formData.append('productqty', quandity);
        formData.append('variationid', product_variation);
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        console.log(formData);
        fetch('{% url "cart:cart_add" %}', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                let quandity = Number(document.getElementById("cart-id").innerHTML);
                quandity = data.qty;
                document.getElementById("cart-id").innerHTML = quandity
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
</script>
{% endblock %}