<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Ren Commerce {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Cropper-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css" />

    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css" />
    <link rel="stylesheet" href="{% static 'dist/main.css' %}">


</head>

<body>
    <!-- Header Area Start -->
    {% include 'partials/navbar.html' %}
    <!-- Header Area End -->

    <main>
        {% block content %} {% endblock %}
    </main>

    <!-- Footer -->
    {% include 'partials/footer.html' %}
    <!-- Footer -->
    {% comment %} <script src="{% static 'src/js/jquery.min.js' %}"></script> {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
    </script>
    <script src="{% static 'src/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'src/scss/vendors/plugin/js/slick.min.js' %}"></script>
    <script src="{% static 'src/scss/vendors/plugin/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'dist/main.js' %}"></script>

    
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "350px";
            $('#overlayy').addClass("active");
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            $('#overlayy').removeClass("active");
        }
    </script>
    <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
    <script>
        {% if messages %} {%for message in messages %}
         
    <style>
        .nice-select {
            border: #ffffff !important;
        }
    </style>
</body>