{% extends '../base.html' %}
{% load static %}
{% block title %} Orders{% endblock %}
{% block content %}
<!-- Order Area Start -->
<section class="order-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Dashboard-Nav  Start-->
                <div class="dashboard-nav">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href={% url 'customers:settings-user' %}"">Account
                                settings</a></li>
                        <li class="list-inline-item"><a href="{% url 'payment:add-address' %}">Billing information</a></li>
                        <li class="list-inline-item"><a href="{% url 'customers:wishlist' %}">My wishlist</a></li>
                        <li class="list-inline-item"><a href="{% url 'cart:cart_items' %}">My cart</a></li>
                        <li class="list-inline-item"><a href="#" class="active">Order</a></li>
                        <li class="list-inline-item"><a href="{% url 'customers:logout' %}" class="mr-0">Log-out</a></li>
                    </ul>
                </div>
                <!-- Dashboard-Nav  End-->
            </div>
        </div>
        <div class="rows">
                <!-- Order Item Start -->
                <div class="cart-items">
                    <div class="header">
                        <div class="image">
                            Image
                        </div>
                        <div class="name">
                            Name
                        </div>
                        <div class="price">
                            Prices
                        </div>
                        <div class="rating">
                            Rating
                        </div>
                        <div class="info">
                            Info
                        </div>
                    </div>
                    <div class="body">
                        {% if orders|length == 0 %}
                        <div class="col-12">You havn't ordered yet, <a href="">Shop</a></div>
                        {% else %}
                        {% for product in orders %}
                        <div class="item">
                            <div class="image">
                                <img src="{{ product.product.thumbnail.url }}">
                            </div>
                            <div class="name">
                                <div class="name-text">
                                    <p class="mb-1"> {{ product.product.title }}</p>
                                </div>
                                <div class="button mt-2">
                                    {% if product.order_status != "Cancelled" %}
                                    <a class="btn btn-warning">Cancel order</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="price">
                                <span>Rs {{product.price}}</span> 
                            </div>
                            <div class="rating">
                                <li>
                                    {% with item=product.product %}
                                    {% for star in item.get_avg_rating|ljust:item.get_avg_rating %}
                                        <i class="fas fa-star"></i>
                                    {% endfor %}
                                    {% endwith %}
                                </li>
                                <small><li>{{product.product.get_avg_rating}}({{product.product.count_review}} Rating)</li></small>
                            </div>
                            <div class="info status">
                                <div class="status-timer">
                                    <h6>
                                        Order Status
                                    </h6>
                                    <ul>
                                        {% if product.order_status == "In process" %}
                                        <button class="btn btn-secondary w-100">{{product.order_status}}</button>
                                        {% elif product.order_status == "Shipped" %}
                                        <button class="btn btn-info  w-100">{{product.order_status}}</button>
                                        {% elif product.order_status == "Delivered" %}
                                        <button class="btn btn-success  w-100">{{product.order_status}}</button>
                                        {% elif product.order_status == "Cancelled" %}
                                        <button class="btn btn-danger  w-100">{{product.order_status}}</button>
                                        {% endif %}
                                    </ul>
                                    <ul>{{ product.order.created| timesince }} ago<ul>
                                </div>
                            </div>
                        </div>
                       {% endfor %}
                       {% endif %}
                    </div>
                </div>
                <!-- Order Item End -->
        </div>
    </div>
</section>
<!-- Order Area End -->
{% endblock %}