{% extends '../base.html' %}
{% load static %}
{% block title %} Select Addresses {% endblock %}
{% block content %}

<!-- Wishlist Area Start -->
<section class="wishlist-area">
    <div class="container-fluid px-5">
        <div class="row">
            <div class="col-lg-12">
                <!-- Dashboard-Nav Start-->
                <div class="dashboard-nav">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="">Add Address</a> <i
                                class="fas fa-angle-right"></i></li>
                        <li class="list-inline-item"><a href="" class="active">Billing
                            information</a>
                        <i class="fas fa-angle-right"></i></li>
                        <li class="list-inline-item"><a href="" class="mr-0">Payment</a></li>
                    </ul>
                </div>
                <!-- Dashboard-Nav  End-->
            </div>
        </div>
        <div class="row">
            <div class="col col-md-7">
                {% if not addresses%}
                <p class='my-3'> Sorry You havn't add any addresses</p>
                {% endif %}
                {% for address in addresses %}
                {% if not address.default %}
                  <h1 class="h5 pt-4">Other Addresses</h1>
                {% endif %}
                <div class="card mb-3 border-1 rounded-0 product-item me-md-4" data-index="{{option.id}}">
                  <div class="row g-0">
                    <div class="col">
                      <div class="card pb-3 rounded-0">
                        {% if address.default %}
                        <div class="card-header bg-primary small text-white">
                          Selected
                          &nbsp;
                        </div>
                        {% else %}
                        <div class="card-header bg-white small text-muted">
                            
                          </div>
                        {% endif %}
                        <div class="card-body small pb-1">
                          <p class="card-text m-0 fw-bold">{{address.full_name}}</p>
                          <p class="card-text m-0">{{address.address_line}}</p>
                          <p class="card-text m-0">{{address.address_line2}}</p>
                          <p class="card-text m-0">{{address.town_city}}</p>
                          <p class="card-text m-0">{{address.postcode}}</p>
                          <p class="card-text m-0">Phone number: {{address.phone}}</p>
                          <div class="pt-5">
                            <a href="#" class="text-decoration-none">Edit</a>
                            {% if not address.default %}
                            | <a  class="text-decoration-none edit-address" value="{{address.id}}">Select</a>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                      </a>
                    </div>
                  </div>
                </div>
                {% endfor %}
                <a href="{% url 'payment:add_billing_details' %}" class="btn btn-primary">Add Address</a>
            </div>
            <div class="col-lg-5">
                <div class="card-price">
                    <h6>Check Summery</h6>
                    <div class="card-price-list d-flex justify-content-between align-items-center">
                        <div class="item">
                            <p>{{ cart.len }} Item Orginal Cost</p>
                        </div>
                        <div class="price">
                            <p>Rs {{ cart.orginal_price }}</p>
                        </div>
                    </div>
                    <div class="card-price-list d-flex justify-content-between align-items-center">
                        <div class="item">
                            <p>{{ cart.len }} Our Cost</p>
                        </div>
                        <div class="price">
                            <p>Rs {{ cart.get_subtotal_price }}</p>
                        </div>
                    </div>
                    <div class="card-price-list d-flex justify-content-between align-items-center">
                        <div class="item">
                            <p>Shipping Cost</p>
                        </div>
                        <div class="price">
                            <p>Rs {{ cart.get_shipping_cost }}</p>
                        </div>
                    </div>
                    {% if request.session.coupon %}
                    <div class="card-price-list d-flex justify-content-between align-items-center">
                        <div class="item">
                            <p>Discount</p>
                        </div>
                        
                        <span class="badge bg-primary">Promotion Applied with {{request.session.coupon}} </span>
                        
                        <div class="price">
                            <p>- Rs {{ cart.get_coupon_amount }} </p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="card-price-list d-flex justify-content-between align-items-center">
                        <div class="total-text">
                            <p>Total Saved</p>
                        </div>
                        <div class="total-price">
                            <p>-Rs {{ cart.get_total_saved }}</p>
                        </div>
                    </div>
                    <div class="card-price-subtotal d-flex justify-content-between align-items-center">
                        <div class="total-text">
                            <p>Total Price</p>
                        </div>
                        <div class="total-price my-3">
                            <p>Rs {{ cart.get_total_price }}</p>
                        </div>
                    </div>
                    <form action="#">
                        <a href="{% url 'payment:set-payment-method' %}" class="btn bg-primary" style="width: 100%;">Checkout Now</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
[...document.getElementsByClassName("edit-address")].forEach(function(e){
    e.addEventListener("click", function() {
        address_id = this.getAttribute('value');
        console.log(address_id);
            
        const formData = new FormData();
        //console.log(name);
        formData.append('addressid', address_id);
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        console.log(formData);
        fetch('{% url "payment:set-default-address" %}', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            location.reload();
        })
        .catch(error => {
            console.error('Error:', error);
        });
    })
  });
</script>
{% endblock %}